.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.from{
    width: 30vw;
    padding: 1rem;
    border: 2px solid #525E75;
    border-radius: 5px;
}
#loginForm{
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
}
form input, form select , form button{
    padding: .5rem 1rem;
    margin: .5rem 0;
}
#registerForm{
    display: flex;
    flex-direction:column;
}